.concept-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.concept-card {
    width: 300px;
    height: 200px;
    flex: none;
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #01203a;
    border-radius: 20px;
}

.concept-card:hover {
    background-color: var(--card-background-focus);
    outline: 3px solid #2563eb;
    outline-offset: 2px;
}

.concept-card-name {
    font-size: xx-large;
}

.concept-card-description {

}
