:root {
    --header-background: #1e3a8a;
    --header-text: #ffffff;
    --header-text-secondary: #dbeafe;
    --main-background: #eff6ff;
    --card-background: #dbeafe;
    --card-background-focus: #bfdbfe;
}

body {
    margin: 0;
}

.header {
    padding: 10px 50px;
    border-bottom: 1px solid black;
    background-color: var(--header-background);
}

.header-text {
    color: var(--header-text);
}

.main {
    background-color: var(--main-background);
}

h1,
h2,
h3 {
    margin: 0;
}

.btn {
    background-color: #60a5fa;
    color: #0f172a;
    border: none;
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #3b82f6;
}

.btn:disabled {
    background-color: #cbd5e1;
    color: #64748b;
    cursor: not-allowed;
}
